
$font-family-sans-serif:    "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-family-serif:         'Surveyor SSm A', 'Surveyor SSm B', serif !default;
$font-family-serif:         'Volkhov', serif;

%ff-light {
  font-family:$font-family-serif;
  font-weight:300;
  font-style:normal;
}
// %ff-light-it {
//   font-family:$font-family-serif;
//   font-weight:300;
//   font-style:italic;
// }
%ff-book {
  font-family:$font-family-serif;
  font-weight:400;
  font-style:normal;
}
// %ff-book-it {
//   font-family:$font-family-serif;
//   font-weight:400;
//   font-style:italic;
// }
%ff-medium {
  font-family:$font-family-serif;
  font-weight:500;
  font-style:normal;
}
// %ff-medium-it {
//   font-family:$font-family-serif;
//   font-weight:500;
//   font-style:italic;
// }
// %ff-bold {
//   font-family:$font-family-serif;
//   font-weight:700;
//   font-style:normal;
// }
// %ff-bold-it {
//   font-family:$font-family-serif;
//   font-weight:700;
//   font-style:italic;
// }
%ff-black {
  font-family:$font-family-serif;
  font-weight:800;
  font-style:normal;
}
// %ff-black-it {
//   font-family:$font-family-serif;
//   font-weight:800;
//   font-style:italic;
// }
