.nav-links {
  position:absolute;
  top:50%;right:$bsu;
  transform:translate3d(0,-50%,0);  
  font-family:Helvetica, Arial, Verdana, sans-serif;
  .nav {margin:0}
}

.nav__link {
  display:block;
  padding:$bsu/4 $bsu/2;
  margin-left:$bsu/2;
  color:rgba(white,0.76);
  border-radius:$bsu/8;    
  letter-spacing:0.2em;
  box-shadow:0 0 0 0 transparent;
  transition:all 0.5s $easeOutQuint;  

  &:hover {
    transform:translateY(-1px);
    background:rgba(darken($primary,20%),0.42);
    box-shadow:0 1px 0 1px rgba(black,0.12);
    color:White;
  }
  &:active {
    transform:translateY(0);
    background:rgba(darken($primary,40%),0.42);
    box-shadow:0 0 0 0 transparent;
    color:White;
  }
  .min & {
    font-size:12px;
  }
}