@import "mixins";

$primary:#666;
$secondary:hsl(10,42%,76%);
$tertiary:hsl(190,76%,42%);

$global-border-box:true;

@import "inuit.css/generic/normalize";
@import "inuit.css/generic/reset";

$bsu:24px;

@import "fonts";
@import "typography";

.main__content {
  margin:0 auto $bsu*4;
  padding:0 1em;
  @include aboveOr(pem(960)){max-width:47.37em;}
}

.archive-link {
	text-align:center;
}