{% extends "base.html" %}

{% block page_content %}
<div class="main__content">
  <nav class="archive__skip">
    <ul>
      <li><a href="#2015">2015</a></li> |
      <li><a href="#2014">2014</a></li> |
      <li><a href="#2013">2013</a></li> |
      <li><a href="#2012">2012</a></li> |
      <li><a href="#2011">2011</a></li> |
      <li><a href="#2010">2010</a></li> |
      <li><a href="#2009">2009</a></li> |
      <li><a href="#2008">2008</a></li> |
      <li><a href="#2007">2007</a></li> |
      <!-- <li><a href="#2006">2006</a></li> |  -->
      <li><a href="#2005">2005</a></li> |
      <li><a href="#2004">2004</a></li> |
      <li><a href="#2003">2003</a></li> |
      <li><a href="#2002">2002</a></li> |
      <li><a href="#2001">2001</a></li>
    </ul>
  </nav>
  <h3>This year's posts</h3>
  <ul class="this year">
  {% set thisyear = "2017" %}
  {% for post in site.posts %}
    {% if post.year !== thisyear %}
      </ul>
      <h3 class="list-header" id="{{ post.year }}">{{ post.year }}</h3>
      <ul class="past year">
      {% set thisyear = post.year %}
    {% endif %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <time>({{ post.date | formatDate("Do MMMM Y") }})</time>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
