<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% if archive %}<title>Archive - {{ site.name }}</title>{% elif index %}<title>{{ site.name }}</title>{% else %}<title>{{ page.title }} - {{ site.name }}</title> {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Tom Morgan">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Tom Morgan's blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
    {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
    {% endif %}
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <script src="/js/modernizr.js"></script> -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:url" content="http://ghijklmno.net{{ page.url }}">
    <meta property="og:description" content="{{ page.standfirst | striptags | default("Another blog post I wrote.") }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="http://ghijklmno.net{{ page.image }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@morganesque">
    <meta name="twitter:description" content="{{ page.standfirst | striptags | default("Another blog post I wrote.") }}" />
    <meta name="twitter:image:src" content="http://ghijklmno.net{{ page.image }}">
</head>
<body>
<header class="site-header" id="header">
        <!-- <h1 class="logo"><a href="/">Ghijklmno..</a></h1> -->
        <h1 class="logo"><a href="/"><img src="/img/2016/title.jpg" width="100%" alt="...GHIJKLMNO..."/></a></h1>
        <p class="sub-heading">This is <a href="/about/">Tom Morgan</a>'s blog</p>
</header>
<main>

  {% block page_content %}
    {{ page.content | safe }}
  {% endblock %}

</main>

<p class="archive-link link"><a href="/archive/">Archive</a></p>

<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-110489-1');ga('send','pageview');
</script>

</body>
</html>
