{% include top.html %}

  <div class="main__content">
      <h1 class="post__title">{{page.title}}</h1>
      <p class="post__date">&mdash;
        {% assign d = page.date | date: "%-d"  %}
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st
          {% when '2' or '22' %}{{ d }}nd
          {% when '3' or '23' %}{{ d }}rd
          {% else %}{{ d }}th
          {% endcase %}
        {{ page.date | date: "%B %Y" }}
      </p>
      <div class="post__content content">
        {% if page.standfirst %}<p class="standfirst">{{ page.standfirst }}</p>{% endif %}
        {{page.content | markdownify }}
      </div>
      <div class="post__nextprev cf">
        {% if page.previous.url %}
          <a class="link prev" href="{{page.previous.url}}"><span class="icon-arrow-left"></span> {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="link next" href="{{page.next.url}}">{{page.next.title}} <span class="icon-arrow-right"></span></a>
        {% endif %}
      </div>
  </div>

{% include bottom.html %}
