<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ghijklmno..</title>
    <meta name="description" content="The blog of Tom Morgan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6272452/793286/css/fonts.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/modernizr.js"></script>
</head>
<body>
<header class="site-header" id="header">
        <div class="logo"><a href="/">Ghijklmno..</a></div> 
        <p class="sub-heading">&mdash; This is Tom Morgan's blog</p>
        <div class="nav-links" role="nav">
            <ul class="nav">
                <li><a class="nav__link" href="#" id="nav-about"><span class="biga">a</span>bout</a></li>
                <li><a class="nav__link" href="#" id="nav-archive"><span class="biga">a</span>rchive</a></li>
                <li><a class="nav__link" href="#" id="nav-abroad"><span class="biga">a</span>broad</a></li>
            </ul>
        </div>
</header>
<div class="outer">